<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto MVT</title>
</head>
<body>
    
    <H1> bienvenidos a la web</H1>

    <p> Este es mi proyecto </p>

    <img
    style="max-width: 700px;" 
    src="https://images.pexels.com/photos/2252584/pexels-photo-2252584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

</body>
</html>